<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrator Registration</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/admin/adminRegister.css')}}">
</head>
<body>
    
    <div class="container">
        <div class="header">
            <h1>Welcome to Admin!</h1>
            <a href="/home" class="btn btn-danger" id="return">Got lost? Let's go home!</a>
        </div>
        {% for message in get_flashed_messages(category_filter = ["error_not_logged_in"]): %}
            <h1 id="flash">{{message}}</h1>
        {% endfor %}
        <div class="body">
            <div class="register">
                <h2>Let's get registered:</h2>
                <form  action="/admin_register" method="POST">
                    <div class="code">
                        <label for="admin_password" class="form-label">Passcode:</label>
                        <br>
                        <input type="number" name="admin_password" class="form-control">
                        {% for message in get_flashed_messages(category_filter = ["error_passcode"]): %}
                            <p id="pass-flash">{{message}}</p>
                        {% endfor %}
                    </div>
                    <br>
                    <label for="title" class="form-label">Title:</label>
                    <br>
                    <input type="text" name="title" class="form-control">
                    <br>
                    <label for="first_name" class="form-label">First Name:</label>
                    <br>
                    <input type="text" name="first_name" class="form-control">
                    {% for message in get_flashed_messages(category_filter = ["error_register_first_name"]): %}
                        <p>{{message}}</p>
                    {% endfor %}
                    <br>
                    <label for="last_name" class="form-label">Last Name:</label>
                    <br>
                    <input type="text" name="last_name" class="form-control">
                    {% for message in get_flashed_messages(category_filter = ["error_register_last_name"]): %}
                        <p>{{message}}</p>
                    {% endfor %}
                    <br>
                    <label for="email" class="form-label">Email:</label>
                    <br>
                    <input type="text" name="email" class="form-control">
                    {% for message in get_flashed_messages(category_filter = ["error_register_email"]): %}
                        <p>{{message}}</p>
                    {% endfor %}
                    <br>
                    <label for="password" class="form-label">Password:</label>
                    <br>
                    <input type="text" name="password" class="form-control">
                    {% for message in get_flashed_messages(category_filter = ["error_register_password"]): %}
                        <p>{{message}}</p>
                    {% endfor %}
                    <br>
                    <label for="password_confirmation" class="form-label">Confirm Password:</label>
                    <br>
                    <input type="text" name="password_confirmation" class="form-control">
                    {% for message in get_flashed_messages(category_filter = ["error_register_password_confirmation"]): %}
                        <p>{{message}}</p>
                    {% endfor %}
                    <br>
                    <div class="row">
                        <div class="col">
                            <label for="pin" class="form-label">PIN:</label>
                            <br>
                            <input type="number" name="pin" max="999999" class="form-control">
                            {% for message in get_flashed_messages(category_filter = ["error_register_pin"]): %}
                                <p>{{message}}</p>
                            {% endfor %}
                        </div>
                        <br>
                        <div class="col">
                            <label for="pin_confirm" class="form-label">Confirm PIN:</label>
                            <br>
                            <input type="number" name="pin_confirm" max="999999" class="form-control">
                            {% for message in get_flashed_messages(category_filter = ["error_register_password_pin_confirm"]): %}
                                <p>{{message}}</p>
                            {% endfor %}
                        </div>
                    </div>
                    <br>
                    <button type="submit" class="btn btn-primary">Register</button>
                </form>
            </div>
            <div class="login">
                <h1>Login:</h1>
                {% for message in get_flashed_messages(category_filter = ["error_login"]): %}
                    <h2>{{message}}</h2>
                {% endfor %}
                <form  action="/admin_login" method="POST">
                    <div>
                        <label for="email" class="form-label">Email:</label>
                        <br>
                        <input type="text" id="email" name="email" class="form-control">
                    </div>
                    <br>
                    <div>
                        <label for="password" class="form-label">Password:</label>
                        <br>
                        <input type="text" id="password" name="password" class="form-control">
                    </div>
                    <br>
                    <br>
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
            </div>    
        </div>
    </div>
</body>
</html>