<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>View From</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/admin/adminView.css')}}">
    </head>
    <body>
        <div class="container">
            <div id="title">
                <h1>MyBank</h1>
            </div>
            <div class="header">
                <h1>Form review</h1>
                <div>
                    <a href="/admin/dashboard" class="btn btn-secondary" id="home">Dashboard</a>
                    <a href="/admin/logout" class="btn btn-danger">Logout</a>
                </div>
            </div>
            <h2 id="subtitle">Hi {{session['first_name']}}, here is the request from {{form.first_name}} {{form.last_name}}:</h2>
            <div class="form">
            <h3>First Name: {{form.first_name}}</h3>
            <br>
            <h3>Last Name: {{form.last_name}}</h3>
            <br>
            <h3>Date of Birth: {{form.format_birth}}</h3>
            <br>
            <h3>Social Security: {{form.format_social}}</h3>
            <br>
            <h3>Employment Status: {{form.employment_status}}</h3>
            <br>
            <h3>Annual Income: {{form.format_income}}</h3>
            <br>
            <h1>Address:</h1>
            <h3>{{form.street}} </h3>{% if form.apt_suite_num != 'None' %} <h3>{{form.apt_suite_num}}</h3> {% endif %}
            <h3>{{form.city}}, {{form.state}} {{form.zipcode}}</h3>
            {% if form.amount > 0: %}
                <br>
                <h3>Amount: {{form.format_amount}}</h3>
                <br>
            {% endif %}
            <h1>Identity Verification:</h1>
            <div class="imgs">
                <div class="ssc">
                    <img src="/static/images/signUp/{{form.ssc}}" alt="ssc" style="width: 100%; height: 100%;">
                </div>
                <div class="id">
                    <img src="/static/images/signUp/{{form.drivers_license}}" alt="id" style="width: 100%; height: 100%;">
                </div>
            </div>
            <div>
                <a href="/accept/account" class="btn btn-success">Approve</a>
                <a href="/deny/{{form.id}}" class="btn btn-danger">Deny</a>
            </div>
        </div>
    </body>
</html>