* {
    margin: 0px auto;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

#title {
    width: 285px;
    margin-left: 50px;
    margin-bottom: 25px;
    border: 6px solid red;
    border-radius: 15px;
}

#title h1 {
    color: white;
    font-weight: bold;
    font-size: 70px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#return {
    text-align: center;
}

.container {
    background-color: #336FA1;
    padding-top: 40px;
    padding-bottom: 100px;
    box-shadow: 0px 0px 10px black;;
}

.header {
    text-align: center;
}

.header h1 {
    font-size: 70px;
    font-weight: bold;
    color: white;
}

.body {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.register {
    width: 500px;
    background-color: #a8a8b0;
    padding: 40px;
    margin-top: 45px;
    margin-bottom: 100px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px black;
}

.code {
    text-align: left;
}

.code input {
    width: 100px;
}

#flash {
    text-align: center;
    color: rgb(219, 0, 0);
    font-weight: bold;
}

#pass-flash {
    color: rgb(219, 0, 0);
    font-weight: bold;
}

.register h2 {
    color: darkblue;
    font-weight: bold;
}

.register label {
    color: yellow;
}

.register p {
    color: rgb(219, 0, 0);
    font-weight: bold;
}

.login {
    width: 500px;
    background-color: #a8a8b0;
    padding: 40px;
    margin-top: 45px;
    margin-bottom: 100px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px black;
}

.login h1 {
    color: limegreen;
    font-weight: bold;

}

.login label {
    color: white;
}

.login h2 {
    color: rgb(219, 0, 0);
    font-weight: bold;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}