<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>MyBank - Dashboard</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/user/userDashboard.css')}}">
    </head>
    <body>
        <div class="container" id="container">
            <div id="title">
                <h1>MyBank</h1>
            </div>
            <nav id="navbar">
                <div class="navleft">
                    <nav class="navbar navbar-expand-lg">
                    <div class="container-fluid">
                        <ul class="navbar-nav">
                            <li class="nav-item"><a class="nav-link active" aria-current="page" href="/home">Home</a></li>
                            <li class="nav-item"><a class="nav-link active" aria-current="page" href="/credit">Credit Card</a></li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Bank Accounts</a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <li><a class="dropdown-item" href="/checking">Checking</a></li>
                                    <li><a class="dropdown-item" href="/savings">Savings</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Loans & Mortgages</a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <li><a class="dropdown-item" href="/auto">Auto</a></li>
                                    <li><a class="dropdown-item" href="/personal">Personal</a></li>
                                    <li><a class="dropdown-item" href="/mortgage">Mortgage</a></li>
                                </ul>
                            </li>
                            <li class="nav-item"><a class="nav-link active" href="/about">About Us</a></li>
                            <li class="nav-item"><a class="nav-link active" href="/contact">Contact Us</a></li>
                        </ul>
                    </div>
                    </nav>
                </div>
                <div class="navright">
                    <div class="btn-group" role="group">
                        <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">{{session.first_name}}'s Profile</button>
                        <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                            <li><a class="dropdown-item" href="#" id="fade-in">Update</a></li>
                            <li><a class="dropdown-item" href="#" style="color: red;" data-bs-toggle="modal" data-bs-target="#exampleModal">Delete Account</a></li>
                        </ul>
                    </div>
                    <a href="/user/logout" class="btn btn-danger">Logout</a>
                </div>
            </nav>
            <div class="header">
                <h1>Welcome, {{session.first_name}}!</h1>
                {% for message in get_flashed_messages(category_filter = ["request_received"]): %}
                    <p id="flash">{{message}}</p>
                {% endfor %}
                {% for message in get_flashed_messages(category_filter = ["error_transfer"]): %}
                    <h3 id="transfer">{{message}}</h3>
                {% endfor %}
                {% for message in get_flashed_messages(category_filter = ["error_pay"]): %}
                    <h3 id="transfer">{{message}}</h3>
                {% endfor %}
            </div>
            <div class="content">
                <div class="accounts">
                    <h2>Accounts</h2>
                    <div class="head">
                        <div id="t1">Type</div>
                        <div id="t2">Account Number</div>
                        <div id="t3">Balance</div>
                    </div>
                    {% if account_list|length == 0: %}
                        <p id="none">No Accounts to Show</p>
                    {% endif %}
                    <div class="accordion accordian-flush" id="accordionExample">
                        {% for account in account_list: %}
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{account.id}}" aria-expanded="true" aria-controls="collapse{{account.id}}"><span>{{account.account_type}}</span><span>{{account.account_number_display()}}</span><span>{{account.formatted_balance}}</span></button>
                            </h2>
                            <div id="collapse{{account.id}}" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <h5>Full Account Number: {{account.account_number}}</h5>
                                    <p>Current Interest Rate: {{account.interest_rate}}%</p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <br>
                    <h2>Loans</h2>
                    <div class="head">
                        <div id="t1">Type</div>
                        <div id="t2">Loan Number</div>
                        <div id="t3">Balance</div>
                    </div>
                    {% if loan_list|length == 0: %}
                        <p id="none">No Loans to Show</p>
                    {% endif %}
                    <div class="accordion accordian-flush" id="accordionExample">
                        {% for loan in loan_list: %}
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{loan.loan_number}}" aria-expanded="true" aria-controls="collapse{{loan.loan_number}}"><span>{{loan.account_type}}</span><span>{{loan.loan_number_display()}}</span><span>{{loan.formatted_balance}}</span></button>
                            </h2>
                            <div id="collapse{{loan.loan_number}}" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <h5>Full Loan Number: {{loan.loan_number}}</h5>
                                    <p>Current APR: {{loan.apr}}%</p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <br>
                    <h2>Cards</h2>
                    <div class="head">
                        <div id="t1">Type</div>
                        <div id="t2">Card Number</div>
                        <div id="t3">Balance</div>
                    </div>
                    {% if card_list|length == 0: %}
                        <p id="none">No Accounts to Show</p>
                    {% endif %}
                    <div class="accordion accordian-flush" id="accordionExample">
                        {% for card in card_list: %}
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{card.card_number}}" aria-expanded="true" aria-controls="collapse{{card.card_number}}"><span>{{card.card_type}}</span><span>{{card.card_number_display()}}</span><span>{{card.formatted_balance}}</span></button>
                            </h2>
                            <div id="collapse{{card.card_number}}" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <h5>Full Card Number: {{card.card_number}}</h5>
                                    <p>Credit Limit: {{card.formatted_credit}}</p>
                                    <p>Purchase APR: {{card.purchase_apr}}%</p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="actions">
                    <h1>Actions</h1>
                    <a href="#" class="btn btn-success">Deposit</a>
                    <br>
                    <a href="#" onclick="openTheForm()" class="btn btn-primary">Transfer</a>
                    <br>
                    <a href="#" onclick="openTheForm1()" class="btn btn-info">Pay A Balance</a>
                </div>
            </div>
            <div class="history">
                <h1>Activity</h1>
                <div id="scroll">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Type</th>
                                <th>From</th>
                                <th>To</th>
                                <th>Amount</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for activity in activity_list: %}
                            <tr>
                                <td>{{activity.type}}</td>
                                <td>{{activity.from_account}}</td>
                                <td>{{activity.to_account}}</td>
                                <td>{{activity.formatted_amount}}</td>
                                <td>{{activity.format_create}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% if account_list|length == 0: %}
                        <p id="none">No Activity to Show</p>
                    {% endif %}
                </div>
            </div>
            <div class="forms">
                <h1>Forms</h1>
                <div id="hidden">
                    <table class="table table-striped table-hover" >
                        <thead>
                            <tr>
                                <th>Type</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for form in form_list: %}
                            <tr>
                                <td>{{form.type}}</td>
                                {% if form.status == 'Approved': %}
                                    <td id="approved">{{form.status}}</td>
                                {% elif form.status == 'Denied': %}
                                    <td id="denied">{{form.status}}</td>
                                {% else: %}
                                    <td>{{form.status}}</td>
                                {% endif %}
                                <td>
                                    <a href="#" class="btn btn-primary" id="view">Details</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="money" id="money">
                <form action="/transfer" method="POST">
                    <h1>Transfer:</h1>
                    <div class="col-12">
                        <label for="from_account" class="form-label">From</label>
                        <select class="form-select from" aria-label="Default select example" name="from_account">
                            <option selected>Choose Account</option>
                            {% for account in account_list: %}
                            <option value="{{account.id}}-{{account.account_type}}-{{account.balance}}">{{account.account_type}} - {{account.account_number_display()}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <br>
                    <div class="col-12">
                        <label for="to_account" class="form-label">To</label>
                        <select class="form-select from" aria-label="Default select example" name="to_account">
                            <option selected>Choose Account</option>
                            {% for account in account_list: %}
                            <option value="{{account.id}}-{{account.account_type}}">{{account.account_type}} - {{account.account_number_display()}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <br>
                    <div class="col-12">
                        <label for="amount" class="form-label">Amount</label>
                        <input type="number" class="form-control" id="amount" name="amount" min="1" placeholder="$">
                    </div>
                    <br>
                    <input type="hidden" name="type" id="type" value="Transfer">
                    <div class="col-12" id="submit">
                        <button type="submit" class="btn btn-primary">Transfer</button>
                        <a class="btn btn-danger nvm" onclick="closeTheForm()">Nahh..</a>
                    </div>
                </form>
            </div>
            <div class="money" id="pay">
                <form action="/pay" method="POST">
                    <h1>Pay a Balance:</h1>
                    <div class="col-12">
                        <label for="from_account" class="form-label">From</label>
                        <select class="form-select from" aria-label="Default select example" class="from" name="from_account">
                            <option selected>Choose Account</option>
                            {% for account in account_list: %}
                            <option value="{{account.id}}-{{account.account_type}}-{{account.balance}}">{{account.account_type}} - {{account.account_number_display()}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <br>
                    <div class="col-12">
                        <label for="to_account" class="form-label">To</label>
                        <select class="form-select from" aria-label="Default select example" class="from" name="to_account">
                            <option selected>Choose Account</option>
                            {% for card in card_list: %}
                            <option value="{{card.id}}-{{card.card_type}}">{{card.card_type}} - {{card.card_number_display()}}</option>
                            {% endfor %}
                            {% for loan in loan_list: %}
                            <option value="{{loan.id}}-{{loan.account_type}}">{{loan.account_type}} - {{loan.loan_number_display()}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <br>
                    <div class="col-12">
                        <label for="amount" class="form-label">Amount</label>
                        <input type="number" class="form-control" id="amount" name="amount" min="1" placeholder="$">
                    </div>
                    <br>
                    <input type="hidden" name="type" id="type" value="Pay Balance">
                    <div class="col-12" id="submit">
                        <button type="submit" class="btn btn-primary">Transaction</button>
                        <a class="btn btn-danger nvm" onclick="closeTheForm1()">Nahh..</a>
                    </div>
                </form>
            </div>
            <div class="register" id="register">
                <h1>Profile Update</h1>
                <form class="row g-3" action="/user_update" method="POST">
                    <div class="col-md-6">
                        <label for="first_name" class="form-label">First Name</label>
                        <input type="text" class="form-control" id="first_name" name="first_name" value="{{user_info.first_name}}">
                        {% for message in get_flashed_messages(category_filter = ["error_register_first_name"]): %}
                            <p>{{message}}</p>
                        {% endfor %}
                    </div>
                    <div class="col-md-6">
                        <label for="last_name" class="form-label">Last Name</label>
                        <input type="text" class="form-control" id="last_name" name="last_name" value="{{user_info.last_name}}">
                        {% for message in get_flashed_messages(category_filter = ["error_register_last_name"]): %}
                            <p>{{message}}</p>
                        {% endfor %}
                    </div>
                    <div class="col-md-8">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="inputEmail4" name="email" value="{{user_info.email}}">
                        {% for message in get_flashed_messages(category_filter = ["error_register_email"]): %}
                            <p>{{message}}</p>
                        {% endfor %}
                    </div>
                    <div class="col-md-4">
                        <label for="phone_number" class="form-label">Phone Number</label>
                        <input type="tel" class="form-control" id="phone_number" name="phone_number" value="{{user_info.phone_number}}">
                    </div>
                    <div class="col-12">
                        <label for="date_of_birth" class="form-label">Date of Birth</label>
                        <input type="date" class="form-control" id="date_of_birth" name="date_of_birth" value="{{user_info.date_of_birth}}">
                        {% for message in get_flashed_messages(category_filter = ["error_register_birth"]): %}
                            <p>{{message}}</p>
                        {% endfor %}
                    </div>
                    <div class="col-12">
                        <label for="social_security" class="form-label">Social Security</label>
                        <input type="password" class="form-control" id="social_security" name="social_security">
                        <div id="socialHelp" class="form-text">We'll never share this with anyone.</div>
                        {% for message in get_flashed_messages(category_filter = ["error_register_social"]): %}
                            <p>{{message}}</p>
                        {% endfor %}
                    </div>
                    <div class="col-12">
                        <label for="employment_status" class="form-label">Employment Status</label>
                        <select id="employment_status" class="form-select" name="employment_status">
                            <option value="Choose..." {% if user_info.employment_status == 'Choose...' %} selected {% endif %}>Choose...</option>
                            <option value="Full-Time" {% if user_info.employment_status == 'Full-Time' %} selected {% endif %}>Full-Time</option>
                            <option value="Part-Time" {% if user_info.employment_status == 'Part-Time' %} selected {% endif %}>Part-Time</option>
                            <option value="Self-Employed" {% if user_info.employment_status == 'Self-Employed' %} selected {% endif %}>Self-Employed</option>
                            <option value="Unemployed" {% if user_info.employment_status == 'Unemployed' %} selected {% endif %}>Unemployed</option>
                        </select>
                        {% for message in get_flashed_messages(category_filter = ["error_register_employment"]): %}
                            <p>{{message}}</p>
                        {% endfor %}
                    </div>
                    <div class="col-12">
                        <label for="annual_income" class="form-label">Annual Income</label>
                        <input type="number" class="form-control" id="annual_income" name="annual_income" value="{{user_info.annual_income}}">
                        {% for message in get_flashed_messages(category_filter = ["error_register_income"]): %}
                            <p>{{message}}</p>
                        {% endfor %}
                    </div>
                    <div class="col-9">
                        <label for="street" class="form-label">Street</label>
                        <input type="text" class="form-control" id="street" name="street" value="{{address_info.street}}">
                        {% for message in get_flashed_messages(category_filter = ["error_register_street"]): %}
                            <p>{{message}}</p>
                        {% endfor %}
                    </div>
                    <div class="col-md-3">
                        <label for="apt_suite_num" class="form-label">Apartment/Suite</label>
                        <input type="text" class="form-control" id="apt_suite_num" name="apt_suite_num">
                    </div>
                    <div class="col-md-6">
                        <label for="city" class="form-label">City</label>
                        <input type="text" class="form-control" id="city" name="city" value="{{address_info.city}}">
                        {% for message in get_flashed_messages(category_filter = ["error_register_city"]): %}
                            <p>{{message}}</p>
                        {% endfor %}
                    </div>
                    <div class="col-md-3">
                        <label for="state" class="form-label">State</label>
                        <select id="state" class="form-select" name="state">
                            <option value="{{address_info.state}}" selected>{{address_info.state}}</option>
                            <option value="AL">AL</option>
                            <option value="AK">AK</option>
                            <option value="AR">AR</option>
                            <option value="AZ">AZ</option>
                            <option value="CA">CA</option>
                            <option value="CO">CO</option>
                            <option value="CT">CT</option>
                            <option value="DC">DC</option>
                            <option value="DE">DE</option>
                            <option value="FL">FL</option>
                            <option value="GA">GA</option>
                            <option value="HI">HI</option>
                            <option value="IA">IA</option>
                            <option value="ID">ID</option>
                            <option value="IL">IL</option>
                            <option value="IN">IN</option>
                            <option value="KS">KS</option>
                            <option value="KY">KY</option>
                            <option value="LA">LA</option>
                            <option value="MA">MA</option>
                            <option value="MD">MD</option>
                            <option value="ME">ME</option>
                            <option value="MI">MI</option>
                            <option value="MN">MN</option>
                            <option value="MO">MO</option>
                            <option value="MS">MS</option>
                            <option value="MT">MT</option>
                            <option value="NC">NC</option>
                            <option value="NE">NE</option>
                            <option value="NH">NH</option>
                            <option value="NJ">NJ</option>
                            <option value="NM">NM</option>
                            <option value="NV">NV</option>
                            <option value="NY">NY</option>
                            <option value="ND">ND</option>
                            <option value="OH">OH</option>
                            <option value="OK">OK</option>
                            <option value="OR">OR</option>
                            <option value="PA">PA</option>
                            <option value="RI">RI</option>
                            <option value="SC">SC</option>
                            <option value="SD">SD</option>
                            <option value="TN">TN</option>
                            <option value="TX">TX</option>
                            <option value="UT">UT</option>
                            <option value="VT">VT</option>
                            <option value="VA">VA</option>
                            <option value="WA">WA</option>
                            <option value="WI">WI</option>
                            <option value="WV">WV</option>
                            <option value="WY">WY</option>
                        </select>
                        {% for message in get_flashed_messages(category_filter = ["error_register_state"]): %}
                            <p>{{message}}</p>
                        {% endfor %}
                    </div>
                    <div class="col-md-3">
                        <label for="zipcode" class="form-label">Zip</label>
                        <input type="text" class="form-control" id="zipcode" name="zipcode" value="{{address_info.zipcode}}">
                        {% for message in get_flashed_messages(category_filter = ["error_register_zip"]): %}
                            <p>{{message}}</p>
                        {% endfor %}
                    </div>
                    <div class="col-12">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" class="form-control" id="username" name="username" value="{{user_info.username}}">
                        {% for message in get_flashed_messages(category_filter = ["error_register_username"]): %}
                            <p>{{message}}</p>
                        {% endfor %}
                    </div>
                    <div class="col-12">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" name="password">
                        {% for message in get_flashed_messages(category_filter = ["error_register_password"]): %}
                            <p>{{message}}</p>
                        {% endfor %}
                    </div>
                    <div class="col-12">
                        <label for="password_confirmation" class="form-label">Confirm Password</label>
                        <input type="password" class="form-control" id="password_confirmation" name="password_confirmation">
                        {% for message in get_flashed_messages(category_filter = ["error_register_password_confirmation"]): %}
                            <p>{{message}}</p>
                        {% endfor %}
                    </div>
                    <div class="col-12" id="submit">
                        <button type="submit" class="btn btn-primary">Update</button>
                        <a class="btn btn-danger nvm" href="#" id="fade-out">Nahh..</a>
                    </div>
                </form>
            </div>
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel" style="color: red;" >DELETE ALL...</h5>
                            </div>
                            <div class="modal-body">
                                <h1>Are you sure?</h1>
                            </div>
                        <div class="modal-footer">
                            <form action="/delete_all" method="POST">
                                <button type="button" class="btn btn-success" data-bs-dismiss="modal">Nahh..</button>
                                <button type="submit" class="btn btn-danger">Goodbye</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
        <script src="{{url_for('static', filename='javascript/userDashboard.js')}}"></script>
    </body>
</html>